*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}

header nav a[href="#"]{
   text-decoration: underline;
   font-weight: bold;
   color: rgb(13, 13, 13) !important;
   background-color: white !important;
}
